$primary-color: #5d484f;
$secondary-color: #cd725c;
$secondary-color-dark:#c46751;

// COLOR
$lighter-primary: #f8e8dd;
$primary-color-dark: #4e3a41;

// FONT VARIABLES
$primary-font: 'Eina, sans-serif';
$secondary-font:'gilroy, sans-serif';

// TEXT COLORS
$text-color: #333;
$text-color-1: #2c2c2c;


